

[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 100%;;
}


/* custom styles */
/*
body {
  padding: 4em;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}


 */