.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* background-color: #fff; */
}

.SearchInput {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #00b3e1;
}

.MuiInputBase-colorSecondary {
  background-color: #0001;
}




/*element.style {
  align-content: center;
  .makeStyles-root-1 {
    width: 50vh;
    display: flex;
    padding: 4px 4px;
    align-items: center;
  }
}

*/