@font-face {
  font-family: NotoSansRegular;
  src: url(shared/fonts/noto-sans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSansBold;
  src: url(shared/fonts/noto-sans/NotoSans-Bold.ttf);
}
